:root {
    --cor1:#00b5f7;
    --cor2:#0d5189;
    --cor3:#30386f;
    --cor4:#ED3237;
    --corbranca:#fff;
    --corpreta:#000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth ;
}
body {
    font-family: 'Libre Baskerville';
    font-size: 2rem;
}
h1{
    font-family: 'montserrat';
    font-size: 4.5rem;
    }
 
.center-content{
    max-width: 120rem;
    margin: 0 auto;
}

/*--------------------------------------------------------------------------------*/


.sec1 {
    background-image: url(img/romildofundo.png);
    background-size: cover;
    background-position: center center;
    background-repeat:no-repeat;
    min-height: 90vh;
    padding-top: 8.1rem;
    display: flex; 
    justify-content: space-around;
    align-items: center;


    
    && .romildo{
        margin-left: 40rem;
        display: flex;
        flex-direction: column;
        text-align: center; 
        gap: 2rem;
        max-width: 70rem;
        max-height: 50rem;
        font-family: 'Libre Baskerville';   
        color: var(--corbranca);
        
    }
    && .romildo p{
        font-size: 2.2rem;
        line-height: 2.8rem;
        font-weight: 600;
        
    }
    && .romildo p a:link{
        text-decoration: underline;
        color: var(--cor1);
    }
    
    && .romildo p a:visited{
        text-decoration: none;
        color: var(--corbranca);
    }

}

/*----------------------------------------------------------------*/

@media (max-width:380px){

    .sec1{
        background-color: var(--cor3);
        background-image: none;
        display: block; 
}
.grid-mobile{
    display: grid;
    grid-template-rows: 1.5fr 1.5fr;
    height: 60vh;
}

.img-intro{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    height: 25rem;
}
.intro-img{
    display: block;
    height: 15rem;
    width: 25rem;
    align-content: center;
    overflow: hidden;
    transform:scale(1.9);
}
#intro {
    height: 105vh;
    width: 100%;
    overflow: hidden;
}
#intro .romildo {
    display: flex;
    flex-direction: column;
    text-align: center; 
    font-family: 'Libre Baskerville';   
    color: var(--corbranca);
    margin: 0;

    && h1{
        font-size: 2.5rem;
        padding-bottom: 1rem;
    }

    && p {
        font-size: 2rem;
        font-weight: 300;
        padding: 0 2rem;
    }
}
}