:root {
    --cor1:#00b5f7;
    --cor2:#0d5189;
    --cor3:#30386f;
    --cor4:#ED3237;
    --corbranca:#fff;
    --corpreta:#000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth ;
}
body {
    font-family: 'Libre Baskerville';
    font-size: 2rem;
}
h1{
    font-family: 'montserrat';
    font-size: 4.5rem;
    }
 
.center-content{
    max-width: 120rem;
    margin: 0 auto;
    }

/*--------------------------------------------------------------------------------*/
.menu {
    background-color: var(--cor2);
    position: fixed;
    width: 100%;
    min-height: 80px;
    border-bottom: 0.1rem solid #3377bf;
    z-index: 1;
}
.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    && ul{
        display: flex;
    }

    && ul li{
        display: flex;
        align-items: center;
        height: 8rem;
        font-size: 2.4rem;
        list-style: none;
        text-decoration: none ;
        text-align: center;
        background-color: var(--cor2);
    }

    && ul li a{
        text-decoration: none;
        display: block;
        color: var(--corbranca);
        padding: 2.5rem;
        font-weight: bold;
    }
}
.logo{
    height: 6rem;
    width: 6rem;
    align-content: center;
    margin-left: 5rem;
}

.intro {
    background-color: var(--cor3);
    min-height: 35vh;
    padding-top: 8.1rem;
    padding-bottom: 4rem;
    color: var(--corbranca);
    border-bottom: 0.1rem solid #3377bf;

}
.intro-content{


    && h1{
        text-align: center;
        padding-top: 3rem;
    }

    && p{
        text-align: center;
        padding-top: 2rem;
    }
}

.page {
    min-height: 65vh;
    padding-top: 4rem;
    background-color: var(--cor3);

}
.main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem; 
    min-height: 65vh;
    color: var(--corbranca);
   
    && h1{
        font-size: 3rem;
        text-align: center;
        cursor: pointer;
    }
}


     