:root {
    --cor1:#00b5f7;
    --cor2:#0d5189;
    --cor3:#30386f;
    --cor4:#ED3237;
    --corbranca:#fff;
    --corpreta:#000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth ;
}
body {
    font-family: 'Libre Baskerville';
    font-size: 2rem;
}
h1{
    font-family: 'montserrat';
    font-size: 4.5rem;
    }
 
.center-content{
    max-width: 120rem;
    margin: 0 auto;
    }

/*--------------------------------------------------------------------------------*/

.intro {
    background-color: var(--cor3);
    min-height: 35vh;
    padding-top: 8.1rem;
    padding-bottom: 4rem;
    color: var(--corbranca);
    border-bottom: 0.2rem solid #3377bf;

}
.intro-content{


    && h1{
        text-align: center;
        padding-top: 3rem;
    }

    && p{
        text-align: center;
        padding-top: 2rem;
    }
}

.page {
    min-height: 65vh;
    padding-top: 4rem;
    background-color: var(--cor3);

}
.main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem; 
    min-height: 65vh;
    color: var(--corbranca);
   
    && h1{
        font-size: 3rem;
        text-align: center;
        
    }
}

.flex-topics {
    display: flex;
    flex-direction: row;    
    align-items: center;
    justify-content: center;
    background-color: var(--cor2);
    border: 0.1rem solid var(--corbranca);
    cursor: pointer; 
    
}
.flex-topics:hover{
    transform: translate(0, -15%) scale(1.15) rotate(0deg);
    color: var(--cor1);
    text-decoration: underline;
    text-shadow: 0.3rem 0.5rem 3rem var(--corbranca);
    transition: all 750ms ease-in-out;
}