:root {
    --cor1:#00b5f7;
    --cor2:#0d5189;
    --cor3:#30386f;
    --cor4:#ED3237;
    --corbranca:#fff;
    --corpreta:#000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth ;
}
body {
    font-family: 'Libre Baskerville';
    font-size: 2rem;
}
h1{
    font-family: 'montserrat';
    font-size: 5rem;
    }
 
.center-content{
    max-width: 120rem;
    margin: 0 auto;
}


#intro{
    padding-top: 8.1rem;
}
.intro{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--cor3);
    width: 100%;
}

.intro-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--corbranca);
    gap: 5rem;
    padding: 1rem 0rem;
}



#page{
    height: 73.3vh;
}
.formulario{
    padding-bottom: 4rem;
}
.form-gap{
    width: auto;
    border:solid 0.1rem var(--cor1) ;
}
.form-gap legend{
    font-weight: 500;
    text-decoration: underline;
    font-style: italic;
    letter-spacing: 0.1rem;
    color: var(--cor1);
    text-align: center;
    padding-bottom: 2.35rem;
    text-decoration: underline;
    padding-top: 0.5rem;
}


.form-flex {
    display: flex;
    flex-flow: row wrap;
    gap: 3rem;
    padding-top: 1rem;
    overflow: hidden;
}
.form {
    flex: 1 1 auto;
}

.form label{
    display: block;
    text-align: left;
    font-weight: 600;
    color: var(--corbranca);
    font-family: 'montserrat';
}

.form input, textarea {
    border: inherit;
    background-color: #18153a;
    padding: 1.4rem 2rem;
    width: 100%;
    color:var(--corbranca);
    font-size: 1.8rem;
    font-family:'Libre Baskerville';
}

.message {
    flex:1 1 100%;
}

.form button{
    border: 0.1rem solid var(--cor1);
    padding: 0.7rem 1rem;
    cursor: pointer;
}

.form ::placeholder { 
    color: var(--cor1);
}

button {
    display: block;
    margin: 0 auto;
    margin-bottom: 3rem;
    margin-top: -1rem;
    color:var(--cor1);
    background-color: #18153a;
}
#navmobile{
    display: none;}

/*----------------------------------------------*/
@media (max-width:480px){

    .intro-text{
        padding-bottom: 3rem;
        && h1{
        font-size: 3.5rem;
        height: 5rem;
        font-weight: 650;                
        }
    }
.formulario .form-gap legend{
    font-weight: 200;

}
#page {
    padding: 0 2rem 4rem 2rem;
}
}