:root {
    --cor1:#00b5f7;
    --cor2:#0d5189;
    --cor3:#30386f;
    --cor4:#214563;
    --corbranca:#fff;
    --corpreta:#000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth ;
}
body {
    font-family: 'Libre Baskerville';
    font-size: 2rem;
}
h1{
    font-family: 'montserrat';
    font-size: 4.5rem;
    }
 
.center-content{
    max-width: 120rem;
    margin: 0 auto;
    }

/*-----------------------------------------------------------------------------------*/

.pb{
    text-decoration: underline;
    list-style:circle;
}
#intro{
    display: block;
    background-color: var(--cor3);
    min-height: 15rem;
    width: 100%;
    padding-top: 8.1rem;
}
.intro-content{
    display: flex;
    text-align: center;
    align-items: center;
    flex-flow: column;
    color: var(--corbranca);
}
.intro-content h1{
    padding: 2rem 0;
    font-size: 3rem;
}
.videos{
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: 0rem 2rem;
}
.vids{
    display: none;
}

#hcohab{
    display: none;
}
#hraiz{
    display: none;
}

#page {
    min-height: 130rem;
    padding: 2rem 0;
    background-color: var(--cor3);
}
.page-content{
    display: flex;
    flex-flow: column;
    align-items: center;
    color: var(--corbranca);
}

.page-content h1{
    font-size: 3rem;
    text-align: center;

}
.main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*repeat(auto-fit, minmax(200px, 800px));*/
    gap: 2rem; 
    min-height: 102rem;
    width: 100%;

}
#navmobile{
    display: none;
}


.itens{ 
    position: relative;
    align-items: center;
    display: flex;
    flex-flow:wrap;
    justify-content: center;
    color: var(--corbranca);
    cursor: pointer;
    height: 30rem;
    max-width: 38rem;
    text-transform: uppercase;

    && a:link{
        text-decoration: none;
        color: var(--corbranca);
    }
    
    && a:visited{
        text-decoration: none;
        color: var(--corbranca);
    }
}
.itens h1{
    background-image: linear-gradient(90deg, #000, #000);
    background-clip: text;
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: calc(4rem/16);
    -webkit-background-clip: text;
    color: var(--corbranca);
}

.item0{
    background-image:url(/img/ponte1.png);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    opacity: 0.6;
    border-radius: 20%;
}
.item1 {
    background-image: url(/img/sonho2.png);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    opacity: 0.6;
    border-radius: 20%;
}
.item2{
    background-image: url(/img/raizes1.png);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    opacity: 0.6;
    border-radius: 20%;
}
.item3{
    background-image: url(/img/base1.png);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    opacity: 0.6;
    border-radius: 20%;
}
.item4{
    background-image: url(/img/cop1.png);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    opacity: 0.6;
    border-radius: 20%;
}
.item5{
    background-image: url(/img/lab1.png);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    opacity: 0.6;
    border-radius: 20%;
}
.item6{
    background-image: url(/img/pedra2.png);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    opacity: 0.6;
    border-radius: 20%;
}
.item7{
    background-image: url(/img/lotes2.png);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    opacity: 0.6;
    border-radius: 20%;
}
.item8{
    background-image: url(/img/descaso2.png);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    opacity: 0.6;
    border-radius: 20%;
}
.item9{
    background-image: url(/img/aero1.png);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    opacity: 0.6;
    border-radius: 20%;
}
.item10{
    background-image: url(/img/praca1.png);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    opacity: 0.6;
    border-radius: 20%;
}
.item11{
    background-image: url(/img/lumina1.png);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    opacity: 0.6;
    border-radius: 20%;
}
.item12{
    background-image: url(/img/cruzeiro1.png);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    opacity: 0.6;
    border-radius: 20%;
}
.item13{
    background-image: url(/img/tenis1.png);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    opacity: 0.6;
    border-radius: 20%;
}
.item14{
    background-image: url(/img/feira1.png);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    opacity: 0.6;
    border-radius: 20%;
}
.item15{
    background-image: url(/img/apae1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    opacity: 0.6;
    border-radius: 20%;
}
.item16{
    background-image: url(/img/creche1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    opacity: 0.6;
    border-radius: 20%;
}
.item17{
    background-image: url(/img/reurb1.jpg); 
    background-size: cover;
    background-position: center; 
    background-repeat:no-repeat;
    opacity: 0.6;
    border-radius: 20%;
}
.item18{
    background-image: url(/img/pracas1.jpg);
    background-size: cover; 
    background-position: center;
    background-repeat:no-repeat;
    opacity: 0.6;
    border-radius: 20%;
}
.item19{
    background-image: url(/img/duplica1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    opacity: 0.6;
    border-radius: 20%;
}
.item20{
    background-image: url(/img/cartaopostal1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    opacity: 0.6;
    border-radius: 20%;
}
.item21{
    background-image: url(/img/pracajuv1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    opacity: 0.6;
    border-radius: 20%;
}
.item22{
    background-image: url(/img/segpub1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    opacity: 0.6;
    border-radius: 20%;
}
.item23{
    background-image: url(/img/ubs1.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    opacity: 0.6;
    border-radius: 20%;
}
.item24{
    background-image: url(/img/praia1.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    opacity: 0.6;
    border-radius: 20%;
}
.item25{
    background-image: url(/img/artur1.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    opacity: 0.6;
    border-radius: 20%;
}
.item26{
    background-image: url(/img/jardin1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    opacity: 0.6;
    border-radius: 20%;
}
.item27{
    background-image: url(/img/ponte3.png);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    opacity: 0.6;
    border-radius: 20%;
}
.item28{
    background-image: url(/img/hist1.png);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    opacity: 0.6;
    border-radius: 20%;
}
.item29{
    background-image: url(/img/hist1.png);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    opacity: 0.6;
    border-radius: 20%;
}

.itens a{
    height: 100%;
}
.itens .hs{
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    background-image: linear-gradient(90deg, #000, #000);
    background-clip: text;
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: calc(1rem/16);
    -webkit-background-clip: text;
    && h1{
        padding-bottom: 0rem;
    }
    && h3{
        height: 1rem;
    }
    && h2{
        align-self: center;
    }
}

/*----------------------------------------------------------------*/

@media (max-width:1200px){
    .main-grid{
        grid-template-columns: 1fr 1fr; 
        min-height: 41rem;
        /*min-height: 68rem;*/
        width: 80%;
        gap:2rem;
    }
    .itens{
    justify-self: center;
    min-height: 24rem;
    min-width: 20rem;
}
}

@media (max-width:1000px){
    .main-grid{
        grid-template-columns: 1fr 1fr; 
        min-height: 41rem;
        /*min-height: 68rem;*/
        width: 100%;
    }
    .itens{
    justify-self: center;
    min-height: 20rem;
    min-width: 16rem;
}

}
@media (max-width:770px){
    #intro{
        padding-top: 17rem;
    }
    .main-grid{
        grid-template-columns: 1fr;   
        padding: 0 2rem;
    }
}

@media (max-width:480px){
    #intro{
        padding-top: 8.1rem;
    }
#page{
    min-height: 105rem;

}

.main-grid{
    grid-template-rows: 1fr;
    padding: 0rem 4rem;
    border: none;
    gap: 2rem;
}
}

@media (max-width:480px){
    .itens{
        min-height: 24rem;
        min-width: 16rem;
    }


}