:root {
    --cor1:#00b5f7;
    --cor2:#0d5189;
    --cor3:#30386f;
    --cor4:#ED3237;
    --corbranca:#fff;
    --corpreta:#000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth ;
}
body {
    font-family: 'Libre Baskerville';
    font-size: 2rem;
}
h1{
    font-family: 'montserrat';
    font-size: 4.5rem;
    }

/*---------------------------------------------------------------------------------*/
.menu{
    background-color: var(--cor2);
    min-height: 8rem;
    position: fixed;
    width: 100%;
    border-bottom: 0.1rem solid #3377bf;
    z-index: 1;
    color: var(--corbranca);

}

.menubotao{
    display:none;
    padding: 1rem;
}

.logo{
    height: 7rem;
    width: 7rem;
    align-content: center;
    margin-left: 5rem;
}


.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    && a{
        position: relative;
    }

    && nav ul {
        display: flex;
    }

    && ul li {
        min-height: 8rem;
        display: flex;
        align-items: center;
    }

    && ul li a {
        list-style: none;
        display: block;
        min-height: 4rem;
        padding: 2rem;
        text-align: center;
        text-decoration: none;
        color:inherit;
        font-size: 2.4rem;
        font-weight: bold;
        align-content: center;
        border-radius: 20%;

    }
}

.lis::after{
    content:'';
    position: absolute;
    bottom: 2rem;
    left: 50%;
    width: 0%;
    height: 0.2rem;
    background: var(--cor1);
    transition: all 300ms ease-in-out;
}

.lis:hover::after{
    width: 80%;
    left: 10%;
}

.lis:hover{
    transition: all 500ms ease-in-out;
    background-color: rgb(0, 181, 247, 0.2);
}

/*--------------------------------FOOTER-----------------------------------------------*/

.footer{
    background-color: var(--cor2);
    height: 8.1rem;
    border-top: solid 0.1rem var(--cor1);

}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.medias{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items:center;
    color: var(--corbranca);   
    
    && h6{
        padding-left: 0.6rem;
        font-size: 1.5rem;
    }
    && p{
        color: var(--cor1);
        font-size: 1rem;
    }
    && .icons{
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        padding-right: 2rem;
        min-height: 4rem;
        min-width: 8rem;
    }
}

.socialmedia {
    min-height: 2.8rem;
    min-width: 2.8rem;
    max-height: 2.8rem;
    max-width: 2.8rem;
    border-radius: 50%;
    background-color: #18153a;
    margin: auto 0.5rem;
    display: flex;
    justify-content: center;
    
}
.socialmedia a{
    align-items: center;
    display: flex;
    
}

.socialmedia:hover{
    transform: translate(0, -20%) scale(1.05);
    transition: all 250ms ease-in-out;
}
.social-shadow {
    box-shadow: 0 0 1px rgba(0,0,0,0);
    position: relative;
    transition: all 300ms ease-in-out;
}
.social-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: radial-gradient(ellipse at center,rgba(0, 181, 247, .35) 0,rgba(0, 0, 0, 0) 80%);
    transition: all 300ms ease-in-out;
}
.social-shadow:active:before,.social-shadow:focus:before,.social-shadow:hover:before {
    opacity: 1;
    transform: translateY(5px)
}

.cnpjs {
    color: var(--cor1);
    text-align: center;}
    .cnpjs h5{
        font-size: 1.5rem;
        padding-bottom: 1rem;
        cursor: pointer;
    }
    .cnpjs h5:hover{
        text-decoration: underline;
    }
    .cnpjs p{ 
        font-size: 1rem;
    }

#seta {
    transform: rotatex(0deg);
    writing-mode: vertical-lr;
}
.infos{
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--cor1);
    height: 8rem;
}
.infos p{
    font-size: 1rem;
    font-weight: 500;
    max-width: 40rem;
    && a:link{
        color:inherit;
        text-decoration: none;
    }
    && a:visited{
        color:inherit;
        text-decoration: none;
    }
    && a:hover{    
        text-decoration:underline;
    }
}


/*------------------------------------------------------------------------------------------*/
@media (max-width:770px){

    .menu {
        min-height: 17rem;

    
    
    && .menu-content{
        flex-flow: column;
    }

    && .logo{
        margin: 0;
    }
}
}
@media (max-width:630px){
    .menu {
        min-height: 13rem;
    }
    .menu-content a{
        display: none;
    }
    .menu-content .nav{
        min-height: 13rem;
    }
    #menu .menu-content ul li a {
        padding: 1rem;
        }
    
}
@media (max-width:480px){

    .menu {
        min-height: 8rem;
    }
.nav{
    display: none;
}

#menu .menu-content{
    justify-content: space-around;
    flex-direction: row;
}
.menu-content a{
    display: block;
}

#navmobile{ 
    display: none;
    height: 63rem;
    background-color: var(--cor2);
    color: var(--corbranca);
    padding-top: 8.1rem;
    width: 100%;
}

.menumobile{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 5rem;


    && ul li a {
        display: inline-block;
        min-height: 3rem;
        padding: 1rem 0rem;
        text-align: center;
        text-decoration: none;
        color:inherit;
        font-size: 1.8rem;
        font-weight: bold;
        align-content: center;
}
}
.gridmenumobile {
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    background-color: var(--cor2);
    height: 60vh;
    padding: 0rem 2rem 0rem 2rem;
    justify-content: center;
}
.ulgrid ul li a:hover{
    color: var(--cor1);
    transition: all 300ms ease-in-out;
    text-decoration: underline;
    text-shadow: 0.2rem 0.2rem 1rem var(--corbranca);
    
}

.img-menu{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 19rem;
    width: 25rem;

}

#imgirmaos{
    display: none;
    height: 100%;   
    align-content: center;
    overflow: hidden;
    transform:scale(1.5);
    padding: 0 1rem;
}

.menubotao{display: block;}
.menubotao::after{
    content: '☰';
    z-index: 2;
    right: 1rem;
    margin-top: 2.5rem;
    background: #18153a;
    color: var(--cor1);
    text-align: center;
    min-width: 5rem;
    min-height: 5rem;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    border: 0.1rem solid var(--cor1) ;
}
.mbutton:checked~.close-menu::after{
    content: '×';
}
    .menu-content a {
        padding: 0rem 2rem;
    }

    .menu-content a img{
    margin: 0;
    }

.footer {
    width: 100%;
    height: 26.5rem;
    && .footer-content{
        display: block;
    }
    && .medias{
        padding: 2rem 8rem 2rem 8rem;
        justify-content: space-between;
    }

    && .icons{
        padding-right: 0rem;
        height: 5rem;
        width: 8rem;
    }

    && .infos{
        width: auto;
        flex-flow: column;
    }

    .infos p{
        padding-top: 0rem;

        && a:link{
            text-decoration: underline;
        }
        && a:visited{
            text-decoration: underline;
        }


    }
    .infos h6{
        display: block;
        width: 21rem;
        padding-bottom: 2rem;
    }
}
}
.cnpjs {
    padding-bottom: 2rem;
}
