:root {
    --cor1:#00b5f7;
    --cor2:#0d5189;
    --cor3:#30386f;
    --cor4:#ED3237;
    --corbranca:#fff;
    --corpreta:#000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth ;
}
body {
    font-family: 'Libre Baskerville';
    font-size: 2rem;
}
h1{
    font-family: 'montserrat';
    font-size: 4.5rem;
    }
 
.center-content{
    max-width: 120rem;
    margin: 0 auto;
    }

/*--------------------------------------------------------------------------------*/

.intro {
    background-color: var(--cor3);
    min-height: 35vh;
    padding-top: 8.1rem;
    padding-bottom: 4rem;
    color: var(--corbranca);
    border-bottom: 0.2rem solid #3377bf;

}
.intro-content{
    && h1{
        text-align: center;
        padding-top: 3rem;
    }

    && p{
        text-align: center;
        padding-top: 2rem;
    }
}

.page {
    min-height: 65vh;
    background-color: var(--cor3);
    text-align: center;
    color: var(--corbranca);
    padding-top: 8rem;
    padding-bottom: 5rem;
}
.main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem; 
    min-height: 65vh;
    color: var(--corbranca);
   overflow: hidden;
    && h1{
        font-size: 3rem;
        text-align: center;
        
    }
}

.flex-topics {
    display: flex;
    flex-direction: row;    
    align-items: center;
    justify-content: center;
    background-color: var(--cor2);
    border: 0.1rem solid var(--corbranca);
    cursor: pointer; 
    margin-top: 2rem;
    
    && a:link{
        text-decoration: none;
        color: var(--corbranca);
    }

    && a:visited{
        text-decoration: none;
        color: var(--corbranca);}
}
.flex-topics:hover{
    transform: translate(0, -15%) scale(1.15) rotate(0deg);
    color: var(--cor1);
    text-decoration: underline;
    text-shadow: 0.3rem 0.5rem 3rem var(--corbranca);
    transition: all 750ms ease-in-out;
}

#tema1, #tema2,#tema3,#tema4,#tema5,#tema6,#tema7,#tema8,#tema9,#tema10 {
    display: none;
    transition: all 500ms ease-in-out;
}

.temas{
    color: var(--corbranca);
    border-bottom: 0.1rem solid var(--cor1);
    font-family: "Libre Baskerville";
    font-size: 2rem;
    word-spacing: 0.1rem;
    transition: all 500ms ease-in-out;
    && p{
        padding: 2rem 0rem;
        text-indent: 0.5rem;
        border-left: 0.1rem solid var(--cor1);
        border-right: 0.1rem solid var(--cor1);
        text-align: left;
    }

    && h1{
        text-align: center;
        width: auto;
        border-bottom: 0.1rem solid var(--cor1);
        font-family: 'montserrat';
    }
}

/*----------------------------------------------------------------------*/

@media (max-width:1200px){
    .intro-content {
        && h1 {
            font-size: 3rem;
            padding-bottom: 2rem;
        }

        && p{
            padding: 0 2rem;
        }
    }


.page{
    
    && h1{
        font-size: 3rem;
    }
}

}
@media (max-width:640px){
    .main-grid{
        grid-template-columns: 1fr 1fr;   
    }
    .space{
        display: none;
    }
}

@media (max-width:380px)
{
    .intro-content {
        height: 90vh;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        && h1{
            font-size: 3.5rem;
            height: 5rem;
            padding-top: 5rem;
            font-weight: 650;
            padding-bottom: 6rem;
        }
        && p {
            text-align: left;
            font-size: 2rem;
            font-weight: 500;
        }
    }

    .page{
        && h1{
        font-size: 2.5rem;
        font-weight: 800;
        padding-bottom: 2rem;
        padding-top: 3rem;
        }
        && .main-grid{
            grid-template-columns: 1fr;
            padding: 0rem 2rem;
            border: none;
            gap: 2rem
        }
        && .temas{
            text-align: center;
            margin: 2rem 0rem;
            border: 0.1rem solid var(--cor1);
            
        }
        .temas h1{
            border-bottom: 0.0rem;
        }
        .temas p{
            text-align: left;
            border: none;
            padding: 2rem 2rem;
        }
    }
}
